*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
html,
body {
    height: 100%;
    line-height: 1;
    font-size: 16px;
    color: #000;
    font-family: Montserrat;
    font-weight: 500;
}
body._lock{
    overflow: hidden; /*недает скролить весь сайт при открытой меню*/
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
._container {
    width: 85%; /* дописал котя */
    max-width: 1280px;
    padding: 0px 15px;
    margin: 0px auto;
    box-sizing: content-box;
    /*min-width: 0;  дописала я применить к блоку в корором свайпер */
}
@media (max-width: 992px){
    ._container {
        width: 90%;
    }
}
@media (max-width: 760px){
    ._container {
        width: 95%;
    }
}
._ibg {
    position: relative;
}
._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
.element-animation {
    opacity: 0;
    transform: translateY(-20px);
  }
  .element-animation.element-show {
    opacity: 1;
    transition: all 1.5s;
    transform: translateY(0%);
  }
/*------------ШАПКА--------------------------*/ 
.header {
    /*position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;*/
    margin-top: 400px;
}
.header__container {
    display: flex;
    justify-content: space-between;
    min-height: 110px;
    align-items: center;
}
@media (max-width: 500px){
    .header__container {
        flex-direction: column;
        min-height: 90px;
    }
}
.header__menu {
    margin: 0px 0px 0px 0px;
}
.header__logo {
    width: 20%;
    padding: 5px 0;
}
.header__logo img {
    width: 100%;
}
.menu__link {
    color: rgb(255, 255, 255);
    line-height: 170%;
    font-size: 18px;
}
@media (max-width: 992px){
    .menu__link {
        font-size: 16px;
    }
}
.menu__item {
    margin: 0px 0px 0px 40px;
}
.menu__list {
    display: flex;
    flex-wrap: wrap;
}
.menu-tel-box{
    display: flex;
    flex-direction: column;
}
.menu-tel-box img{
    width: 13%;
    margin-right: 5px;
}
/*------------page--------------------------*/ 
.page {
flex: 1 1 auto;
}
/*------------heder-block--------------------------*/
.header-block {
    text-align: center;
    letter-spacing: 0.2px;
}
.header-block__title {
    font-size: 30px;
    line-height: 150%;
    font-weight: 600;
    color: #2C7BB1;
}
@media (max-width: 430px){
    .header-block__title {
        font-size: 25px;
        line-height: 130%;
        font-weight: 500;    
    }
}
.header-block__title:not(:last-child) {
    margin: 0px 0px 10px 0px;
}
.header-block__sub-title {
    font-size: 20px;
    line-height: 130%;
    font-weight: 300;
    color: rgb(255, 255, 255);
}
@media (max-width: 430px){
    .header-block__sub-title {
        font-size: 14px;
        line-height: 110%;
        font-weight: 300;    
    }
}
.header-block__sub-title-black {
    font-size: 20px;
    line-height: 130%;
    font-weight: 300;
    color: rgb(0, 0, 0);
}
/*------------main-block--------------------------*/
.main-block__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.main-block__image1 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url('./foto/avagirl.png') bottom right no-repeat;
}
@media (max-width: 1025px){
    .main-block__image1 {
        background-size: 400px;    
    }
}
@media (max-width: 770px){
    .main-block__image1 {
        background-size: 200px;
    }
}
@media (max-width: 430px){
    .main-block__image1 {
        background-size: 180px;
    }
}

.main-block {
    position: relative;
}
.mine-block__body {
    padding: 140px 0px 40px 0px;
    position: relative;
    z-index: 2;
    max-width: 637px;
}
.mine-block__body > *:not(:last-child) {
    margin: 0px 0px 20px 0px;
}
@media (max-width: 430px){
    .mine-block__body > *:not(:last-child) {
        margin: 0px 0px 40px 0px;
    }
}
@media (max-width: 330px){
    .mine-block__body {
        padding: 100px 0px 130px 0px;
    }
}
.main-block__title {
    font-size: 30px;
    line-height: 140%;
    font-weight: 600;
    color: rgb(255, 255, 255);
}
@media (max-width: 770px){
    .main-block__title {
        font-size: 28px;
        font-weight: 600;
        line-height: 120%;
    }
}
@media (max-width: 430px){
    .main-block__title {
        font-size: 24px;
        font-weight: 500;
        line-height: 100%;
    }
}
.main-block__text {
    color: rgb(250, 250, 250);
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
}
@media (max-width: 770px){
    .main-block__text {
        font-size: 16px;
        line-height: 140%;
    }
}
@media (max-width: 430px){
    .main-block__text {
        font-size: 14px;
        font-weight: 300;
        line-height: 130%;
    }
}
.main-block__buttons {
    display: flex;
    flex-direction: row;
    padding: 10px 10px;
}
@media (max-width: 770px){
    .main-block__buttons {
        flex-direction: column;
    }
}
.main-block__button-blue {
    text-decoration: none;
    display: inline-block;
    width: 335px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin: 10px 1px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 400;
    color: #fdfdfd;
    background: #2C7BB1;
    box-shadow: 0 8px 15px rgba(255, 255, 255, 0.404);
    transition: .3s;
}
.main-block__button-blue:hover {
    background: #fcfcfc;
    box-shadow: 0 15px 20px rgba(4, 215, 252, 0.445);
    color: rgb(0, 0, 0);
    transform: translateY(-7px);
}
@media (max-width: 430px){
    .main-block__button-blue {
        width: 285px;
        height: 45px;
        line-height: 45px;
        margin: 10px 1px;
        font-size: 10px;
        letter-spacing: 3px;
    }
}
.main-block__button-light {
    text-decoration: none;
    display: inline-block;
    width: 110px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin: 10px 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 400;
    color: #2C7BB1;
    background: #cdf1fc;
    box-shadow: 0 8px 15px #fffefe85(36, 36, 36, 0.1);
    transition: .3s;
}
.main-block__button-light:hover {
    background: #2C7BB1;
    box-shadow: 0 15px 20px rgba(4, 215, 252, 0.466);
    color: rgb(252, 249, 249);
    transform: translateY(-7px);
}
.kids{
    display: flex;
    width: 100%;
    /* flex-direction: row; */
    align-items: center;
}
.kids-logo{
    max-width: 100px;
    max-height: 100px;
}
.kids-logo img {
    width: 100%;
}
.main-block__location{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(255, 255, 255);
    line-height: 130%;
}
.main-block__location-logo img {
    width: 100%;
}
.main-block__location-text {
    color: rgb(250, 250, 250);
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    margin: 5px 30px;
}
@media (max-width: 430px){
    .main-block__location-text {
        font-size: 12px;
        font-weight: 400;
        line-height: 130%;
        margin: 5px 10px;
    }
    .main-block__location-logo img {
        width: 40px;
        height: 40px;
    }
}
/*------------about--------------------------*/ 
.about {
    padding: 80px 0px 80px 0px;
}
@media (max-width: 1030px){
    .about {
        padding: 20px 0px 30px 0px; 
    }
}
.about__header {
    margin: 0px 0px 70px 0px;
}
@media (max-width: 1030px){
    .about__header {
        margin: 0px 0px 50px 0px; 
    }
}
.about__body {
    display: flex;
    flex-direction: row;
}
@media (max-width: 770px){
    .about__body {
       flex-direction: column; 
    }
}
.about__image {
    width: 200%;
    flex: 0 0 50%;
    display: flex;
    align-items: center;
}
@media (max-width: 770px){
    .about__image {
       width: 100%; 
    }
}
.about__image img {
    width: 100%;
}
.about__content {
    flex: 1 1 auto;
    padding: 0px 0px 0px 80px;
}
@media (max-width: 1300px){
    .about__content {
        padding: 0px 0px 0px 40px; 
    }
}
@media (max-width: 430px){
    .about__content {
        padding: 0px 0px 0px 20px; 
    }
}
.about__title {
    font-size: 37px;
    font-weight: 700;
    line-height: 130%;
    color: #2C7BB1;
    padding: 0px 0px 50px 0px;
}
@media (max-width: 1300px){
    .about__title {
        font-size: 32px;
        font-weight: 600;
        line-height: 100%;
        padding: 0px 0px 30px 0px; 
    }
}
@media (max-width: 430px){
    .about__title {
        font-size: 24px;
        font-weight: 600;
        line-height: 90%;
        padding: 10px 0px 20px 0px; 
    }
}
.item-about {
    display: flex;
    flex-direction: row;
}
.item-about__text {
    padding: 0px 0px 30px 30px;
    font-size: 18px;
    font-weight: 300;
    line-height: 130%;
}
@media (max-width: 430px){
    .item-about__text {
        padding: 0px 0px 20px 10px;
        font-size: 14px;
        font-weight: 300;
        line-height: 110%; 
    }
}
/*------service--------------------------------*/ 
.service {
    padding: 50px 0px 80px 0px;
    background-image: linear-gradient(90deg, #b1d3dc, #76b1c1) ;
}
.header-block__title-white {
    font-size: 30px;
    line-height: 150%;
    font-weight: 600;
    color: #fefeff;
}
@media (max-width: 430px){
    .header-block__title-white {
        font-size: 24px;
    }
}
.header-block__title-white:not(:last-child) {
    margin: 0px 0px 10px 0px;
}
.service__header{
    margin: 0px 0px 70px 0px;
}
.service__body {
    margin: 0px -15px; /*---не понятно что--*/
    display: flex;
    flex-wrap: wrap;
}
.service__column {
    padding: 0px 15px;
    flex: 0 1 25%;
}
.service__item {
    
}
.item-service {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #76b1c1;
}
.item-service__content {
    padding: 20px;
    flex: 1 1 auto;
}
.item-service__title {
    letter-spacing: 0.1px;
    font-size: 20px;
    line-height: 130%;
    font-weight: 400;
    color: rgb(253, 251, 251);
}
.item-service__title:not(:last-child){
    margin: 0px 0px 15px 0px;
}
.item-service__text {
    letter-spacing: 0.1px;
    font-size: 16px;
    line-height: 130%;
    font-weight: 300;
    color: rgb(255, 255, 255);
}
.item-service__text:not(:last-child){
    margin: 0px 0px 15px 0px;
}
.item-service__image {
    padding: 0px 0px 66% 0px;
}
.main-block__button-white {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin: 10px 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 400;
    color: #2C7BB1;
    background: #f9f9fa;
    box-shadow: 0 8px 15px rgba(255, 255, 255, 0.404);
    transition: .3s;
}
.main-block__button-white:hover {
    background: #2C7BB1;
    box-shadow: 0 15px 20px rgba(4, 215, 252, 0.445);
    color: rgb(252, 249, 249);
    transform: translateY(-7px);
}


.main-block__button-big {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin: 10px 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 400;
    color: #ffffff;
    background: #67909c;
    box-shadow: 0 8px 15px rgba(255, 255, 255, 0.404);
    transition: .3s;
}
.main-block__button-big:hover {
    background: #6fbbd2;
    box-shadow: 0 15px 20px rgba(4, 215, 252, 0.445);
    color: rgb(252, 249, 249);
    transform: translateY(-7px);
}
/*----------------------------------------путь-------*/
.way-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
}
.way-box a{
    color: #000;
}
.way-box img{
    width: 100%;
    max-width: 20px;
}
.category_path{
    padding: 5px;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.category_path:hover{
    box-shadow: 0 0 5px #4b4b4b;
}
/*------------pract--------------------------*/
.pract {
    padding: 80px 0px 80px 0px;
    background-image: linear-gradient(90deg, #b1d3dc, #76b1c1)
}
@media (max-width: 430px){
    .pract {
        padding: 30px 0px 30px 0px; 
    }
}
.pract__header {
    margin: 0px 0px 45px 0px;
}
.pract__body {
    margin: 0px -20px -30px;
    display: flex;
    flex-wrap: wrap;
}
.pract__column {
    padding: 0px 20px;
    margin: 0px 0px 30px 0px;
    flex: 0 1 25%;
}
@media (max-width: 1040px){
    .pract__column {
        flex: 0 1 50%; 
    }
}
@media (max-width: 630px){
    .pract__column {
        flex: 0 1 100%; 
    }
}
.pract__item {  
}
.item-pract {
    background-color: #76b1c1;
    display: flex;
    height: 100%;
    flex-direction: column;
}
.item-pract:hover {
    box-shadow: 0 0 10px #f1f3f3;
}
.item-pract__content {
    padding: 30px;
    flex: 1 1 auto;
}
@media (max-width: 630px){
    .item-pract__content {
        padding: 15px; 
    }
}
.item-pract__link { 
    color: inherit;
    display: inline-block;
}
.item-pract__link:not(:last-child) {
    margin: 0px 0px 0px 0px;
}
.item-pract__link:hover{
    text-decoration: underline;
}
.item-pract__title {
    letter-spacing: 0.1px;
    font-size: 18px;
    line-height: 150%;
    font-weight: 500;
    color: rgb(255, 255, 255);
}
.item-pract__text {
    color: rgb(255, 255, 255);
    line-height: 140%;
    font-weight: 400;
}
.item-pract__image {
    display: block;
    padding: 0px 0px 60% 0px;
}
/*------------gellery--------------------------*/ 
.page__gallery {
    min-width: 0;
}
.gallery__wrapper {
    max-height: 100%;
}
.image-slider {
    padding: 30px 0 70px 0;
}
.image-slider__image {
    text-align: center;
}
.image-slider__image img {
    max-width: 100%;
}

/*------------price--------------------------*/ 
.price {
    padding: 80px 0px 80px 0px;
}
@media (max-width: 430px){
    .price {
        padding: 30px 0px 30px 0px; 
    }
}
.price__body {
    margin: 0px -20px -30px;
    display: flex;
    flex-wrap: wrap;
}
@media (max-width: 430px){
    .price__body {
        margin: 0px -30px -30px;
    }
}
.price__column {
    padding: 20px 20px;
    margin: 30px 20px 30px 20px;
    flex: 0 1 100%;
    background-color: #76b1c1
}
@media (max-width: 430px){
    .price__column {
        padding: 20px 10px;
    }
}
.price__column:hover {
    box-shadow: 0 0 10px #76b1c1;
}
.price__content {
    display: flex;
    flex-direction: row;
    padding: 15px 15px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    justify-content: space-between;
    margin-bottom: 5px;
}
@media (max-width: 430px){
    .price__content {
        padding: 5px 5px;
    }
}
.price__content:hover {
    box-shadow: 0 0 10px #f1f3f3;
}
.price__content1 {
    display: flex;
    flex-direction: row;
    padding: 15px 15px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    justify-content: space-between;
    background-color: #6fbbd2;
}
@media (max-width: 430px){
    .price__content1 {
        padding: 5px 5px;
    }
}
.price__content1:hover {
    box-shadow: 0 0 10px #f1f3f3;
}
.content__name {
    padding-left: 50px;
    padding-right: 20px;
}
@media (max-width: 430px){
    .content__name {
        padding-left: 15px;
    }
}
.content__money {
    padding-left: 20px;
    padding-right: 70px;
}
@media (max-width: 430px){
    .content__money {
        padding-right: 40px;
    }
}
/*------------galer--------------------------*/ 
.galer{
    display: flex;
    flex-direction: row;
}
button-left
button-left img
.galer-body{
    display: flex;
    flex-direction: row;
}
galer-image
galer-image img
button-write
button-write img



/*------------ФУТЕР--------------------------*/ 
.footer {
    padding: 80px 0px 80px 0px;
}
@media (max-width: 1120px){
}
.footer__top{
    padding: 50px 0;
    background-image: linear-gradient(90deg, #b1d3dc, #76b1c1)
}
@media (max-width: 1120px){
    .footer__top {
        padding: 20px 0;
    }
}
.footer__main{
    display: flex;
}
@media (max-width: 430px){
    .footer__main {
        flex-direction: column; 
    }
}
.footer__column{
    flex: 0 1 35%;
    padding: 20px;
    margin-left: 10px;
}
@media (max-width: 1120px){
    .footer__column {
        padding: 10px;
    }
}
.footer__logo{
    width: 70%;
}
.footer__logo img{
    width: 80%;
}
@media (max-width: 1120px){
    .footer__logo img {
        width: 90%;
    }
}
.footer__label{
    font-size: 30px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    line-height: 150%;
    margin: 0px 0px 15px 0px;
}
@media (max-width: 660px){
    .footer__label {
        font-size: 25px;
        font-weight: 500;
        line-height: 130%;
        margin: 0px 0px 10px 0px;
    }
}
@media (max-width: 430px){
    .footer__label {
        font-size: 22px;
    }
}
.menu-footer__link{
    letter-spacing: 0.2px;
    color: rgb(255, 251, 251);
    font-size: 20px;
}
@media (max-width: 430px){
    .menu-footer__link{
        font-size: 18px;
    }
}
.menu-footer__item{
    color: rgb(255, 255, 255);
    font-size: 20px;
}
@media (max-width: 430px){
    .menu-footer__item{
        font-size: 14px;
    }
}
.menu-footer__item:not(:last-child){
    margin: 0px 0px 10px 0px;
}
.footer__tel{
    font-size: 25px;
    font-weight: 500;
    color: rgb(255, 254, 254);
    line-height: 200%;
}
.footer-block__buttons{
    display: flex;
    flex-direction: column;
}
.footer-block__button-footer{
    text-decoration: none;
    display: inline-block;
    width: 85%;
    height: 45px;
    line-height: 25px;
    border-radius: 45px;
    margin: 10px 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;
    font-weight: 400;
    color: #2C7BB1;
    background: #f9f9fa;
    box-shadow: 0 8px 15px rgba(255, 255, 255, 0.404);
    transition: .3s;
}
@media (max-width: 1130px){
    .footer-block__button-footer {
        width: 100%; 
        font-size: 10px;
        line-height: 20px;
        letter-spacing: 3px;
    }
}
.footer-block__button-footer:hover {
    background: #2C7BB1;
    box-shadow: 0 15px 20px rgba(4, 215, 252, 0.445);
    color: rgb(252, 249, 249);
    transform: translateY(-7px);
}
@media (max-width: 430px){
    .contacts-footer__item_vk img{
        width: 50px;
        height: 50px;
    }
}
/*-----------------------------сотрудники---------------------*/
.doctor{
    background-color: #75B1C1;
    margin-top: 50px;
}
.doctor__header h2{
    padding-top: 50px;
    padding-bottom: 30px;
}
.doctor-container{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
}
.doctor-box{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
}
.doctor-card{
    width: 180px;
    height: 330px;
    background-color: #b1d3dc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 5px;
    margin: 8px;
    transition: box-shadow 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.doctor-card:hover{
    box-shadow: 0 0 10px #ffffff;
    transform: translateY(-5px);
}
.doctor-card img{
    width: 100%;
}
.doctor-card__title{
    font-weight: 500;
    font-size: 18px;
    margin-top: 10px;
}
.doctor-card__text{
    font-weight: 200;
    font-size: 16px;
    margin-top: 10px;
}
.doctor-photo__image{
    max-width: 165px;
    max-height: 180px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.doctor-photo__image img{
    width: 100%;
}
@media (max-width: 1150px){
    .doctor-card{
        margin: 5px;
    }
}
@media (max-width: 1030px){
    .doctor-card{ 
        margin: 4px;
    }  
}
@media (max-width: 980px){ 
      
}
@media (max-width: 850px){ 
    
}
@media (max-width: 650px){ 
    .doctor-card__title{
        font-weight: 400;
        font-size: 14px;
    }
    .doctor-card__text{
        font-weight: 100;
        font-size: 12px;
    }
}
@media (max-width: 460px){ 
    .doctor-card{
        margin: 4px;
    } 
}
@media (max-width: 430px){
    .doctor-card{
        width: 160px;
        height: 270px;
    }
}
@media (max-width: 370px){ 
    .doctor-card{
        width: 150px;
        height: 260px;
    }  
}
@media (max-width: 325px){ 
    .doctor__header h2{
        padding-top: 30px;
        padding-bottom: 20px;
    }
    .doctor-card{
        width: 140px;
        height: 260px;
    }
    .doctor-card__title{
        font-size: 12px;
    }
    .doctor-card__text{
        font-size: 10px;
    }  
}
/*-----------------модалка---------------------------------*/
.popup{
    margin-top: 100px;
    margin-bottom: 30px;
    z-index: 0;
}
.container-popup{
    display: flex;
    justify-content: center;
    align-items: center;
}
  /* Основные стили для всплывающего окна */
  .popWindow{
    background-color: #67909c;
    color: #fff;
    padding: 40px 30px;
    text-align: center;
    box-shadow: 0 0 30px rgba(18, 17, 12, 0.5);
  }
  /* Стили для адаптивности всплывающего окна */
  @media only screen and (max-width : 800px) {
    .popWindow {
      
    }
  }
  /* Просто текст */
  .subscribe_window .subcsribe-text {
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin: 0 0 40px;
    position: relative;
    padding: 0 50px;
    z-index: 10;
  }
  /* Текст */
  .subscribe_window .req-fields {
    color: #ffffff;
    text-align: left;
  }
  /* Стили формы */
  .subscribe-form {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }
  .subscribe-form div {
    position: relative;
  }
  .subscribe-form input {
    border: 1px solid #000000;
    width: 100%;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    line-height: 32px;
    padding: 5px 20px;
    margin-bottom: 20px;
    outline: none;
    background: #48646d;
    color: #fff;
    border-radius: 4px;
  }
  .btn {
    color: #161613;
    background-color: #ffffff;
    padding: 10px 50px;
    text-align: center;
    font-size: 13px;
    border: 1px solid #000000;
    box-shadow: none;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .btn:hover, .btn:focus {
    background-color: #ffba00;
    color: #fff;
    text-decoration: none;
  }
  .subscribe-form .btn {
    font-size: 24px;
    line-height: 54px;
    border: none;
    width: 100%;
    padding: 10px;
    font-weight: 700;
    text-align: center;
    outline: none;
    border-radius: 4px;
  }
  .subscribe-form .btn:hover {
    background-color: #6fbbd2;
  }
  .subscribe-form .btn i {
    font-size: 28px;
    margin-right: 7px;
  }
  .subscribe-form label {
    color: #fff;
    position: absolute;
    top: 12px;
    left: 20px;
    -webkit-transition: 0.28s;
    transition: 0.28s;
  }
  .subscribe-form label span {
    color: #ffffff;
  }
  .subscribe-form input:focus + label {
    left: -62px;
    font-size: 12px;
  }
  .subscribe-form input:invalid {
    box-shadow: none;
  }
  .subscribe-form input:valid {
    border: 1px solid #161613;
  }
  .subscribe-form input:valid + label {
    left: -62px;
    font-size: 12px;
  }
  @media only screen and (max-width : 480px) {
    .subscribe_window{
      top: 5%;
      margin-top: 0;
    }
    .subscribe_window .subcsribe-text{
      padding: 0;
    }
    .subscribe-form input:focus + label{
      left: 20px;
      top: -18px;
    }
    .subscribe-form input:valid + label{
      left: 20px;
      top: -18px;
    }
    .subscribe-form input:invalid:not(:focus):not(:placeholder-shown) + label{
      left: 20px;
      top: -18px;
    }
  }
/*-----------------слайдер---------------------------------*/
* {box-sizing: border-box}
                body {font-family: Verdana, sans-serif; margin:0}
                .mySlides {display: none}
                img {vertical-align: middle;}
                /* Slideshow container */
                .slideshow-container {
                max-width: 1000px;
                position: relative;
                margin: auto;
                margin-top: 50px;
                }
                /* Next & previous buttons */
                .prev, .next {
                cursor: pointer;
                position: absolute;
                top: 50%;
                width: auto;
                padding: 16px;
                margin-top: -22px;
                color: white;
                font-weight: bold;
                font-size: 18px;
                transition: 0.6s ease;
                border-radius: 0 3px 3px 0;
                }
                /* Position the "next button" to the right */
                .next {
                right: 0;
                border-radius: 3px 0 0 3px;
                }
                /* On hover, add a black background color with a little bit see-through */
                .prev:hover, .next:hover {
                background-color: rgba(0,0,0,0.8);
                }
                /* Caption text */
                .text {
                color: #f2f2f2;
                font-size: 15px;
                padding: 8px 12px;
                position: absolute;
                bottom: 8px;
                width: 100%;
                text-align: center;
                }
                /* Number text (1/3 etc) */
                .numbertext {
                color: #f2f2f2;
                font-size: 12px;
                padding: 8px 12px;
                position: absolute;
                top: 0;
                }
                /* The dots/bullets/indicators */
                .dot {
                cursor: pointer;
                height: 15px;
                width: 15px;
                margin: 0 2px;
                background-color: #bbb;
                border-radius: 50%;
                display: inline-block;
                transition: background-color 0.6s ease;
                }
                .active, .dot:hover {
                background-color: #717171;
                }
                /* Fading animation */
                .fade {
                -webkit-animation-name: fade;
                -webkit-animation-duration: 1.5s;
                animation-name: fade;
                animation-duration: 1.5s;
                }
                @-webkit-keyframes fade {
                from {opacity: .4} 
                to {opacity: 1}
                }
                @keyframes fade {
                from {opacity: .4} 
                to {opacity: 1}
                }
                /* On smaller screens, decrease text size */
                @media only screen and (max-width: 300px) {
                .prev, .next,.text {font-size: 11px}
                }



/*-----------------меню---новое---------------------------------*/
.headera{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: #67909c;
}
.headera__container{
    max-width: 1200px;
    margin: 0px auto;
    display: flex;
    padding: 0px 30px;
    align-items: center;
    justify-content: space-between;
    min-height: 70px;
}
.headera__logo{
    /*border-radius: 50%;
    background-color: #fff;*/
    position: relative;
    z-index: 5;
    /*width: 40px;
    height: 40px;*/
    width: 100%;
    max-width: 245px;
}
.headera__logo img{
    width: 50%;
    min-width: 240px;
    max-width: 245px;
}
@media (max-width: 980px) {
    .headera__logo{
        max-width: 180px;
    }
    .headera__logo img{
        min-width: 170px;
        max-width: 180px;
    }
}
@media (max-width: 440px) {
    .headera__logo{
        max-width: 215px;
    }
    .headera__logo img{
        min-width: 210px;
        max-width: 215px;
    }
}
.menu__icona{
    display: none;
}
.menu__lista > li {
    position: relative;
    margin: 0px 0px 0px 20px;
}
.menu__linka{
    color: #ffffff;
    font-size: 16px;

    display: flex;
    flex-direction: row;
}
.menu__linka img{
    width: 20px;
    height: 20px;
}
.menu__linka:hover{
    text-decoration: underline;
    color: #ffffff;
}
.menu__sub-lista{
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #000000;
    padding: 15px;
    min-width: 200px;
}
.menu__sub-lista li{
    margin: 0px 0px 10px 0px;
}
.menu__sub-lista li:last-child {
    margin: 0;
}
.menu__sub-linka{
    color: #ffffff;
}
.menu__sub-linka:hover{
    text-decoration: underline;
}
.menu__arrowa{
    display: none;
}
/*---------------------------------------*/
body._pc .menu__lista > li:hover .menu__sub-lista {
    opacity: 1;
    visibility: visible;
    transform: translate(0px, 0px);
    pointer-events: all;
}
body._touch .menu__lista > li {
    display: flex;
    align-items: center;
}
body._touch .menu__linka {
    flex: 1 1 auto;
    color: #ffffff;
}
body._touch .menu__arrowa {
    display: block;
    width: 0;
    height: 0;
    margin: 0px 0px 0px 5px;
    transition: transform 0.3s ease 0s;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #fff;
}
body._touch .menu__lista > li._active .menu__sub-lista {
    opacity: 1;
    visibility: visible;
    transform: translate(0px, 0px);
    pointer-events: all;
}
body._touch .menu__lista > li._active .menu__arrowa {
    transform: rotate(-180deg);
}
/*---------------------------------------*/
@media (min-width: 767px) {
    .menu__lista{
        display: flex;
        align-items: center;
    }
    .menu__lista > li {
        padding: 10px 0;
    }
    .menu__sub-lista{
        transform: translate(0px, 10%);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: all 0.3s ease 0s;
    }
}
@media (max-width: 767px) {
    .menu__icona {
        z-index: 5;
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
    }
    .menu__icona span,
    .menu__icona::before,
    .menu__icona::after {
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: #fff;
    }
    .menu__icona::before,
    .menu__icona::after {
        content: "";
    }
    .menu__icona::before{
        top: 0;
    }
    .menu__icona::after{
        bottom: 0;
    }
    .menu__icona span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }
    .menu__icona._active span {
        transform: scale(0) translate(0px, -50%);
    }
    .menu__icona._active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }
    .menu__icona._active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
    }
    .menu__bodya{
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: #67909ce0;
        padding: 100px 30px 30px 30px;
        transition: left 0.3s ease 0s;
        overflow: auto;
    }
    .menu__bodya._active {
        left: 0;
    }
    .menu__bodya::before{
        content: "";
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        height: 70px;
        background-color: #67909c;
        z-index: 2;
    }
    .menu__lista > li {
        flex-wrap: wrap;
        margin: 0px 0px 20px 0px;
    }
    .menu__lista > li:last-child {
        margin-bottom: 0;
    }
    .menu__lista > li._active .menu__sub-lista{
        display: block;
    }
    .menu__linka {
        font-size: 26px;
    }
    
    .menu__sub-lista {
        position: relative;
        background-color: #fff;
        flex: 1 1 100%;
        margin: 15px 0px 0px 0px;
        display: none;
    }
    .menu__sub-linka {
        font-size: 20px;
        color: #000;
    }
}
/*----------детская-секция-на-главной--kids-section-----------------------*/
.kids-section {
    padding: 80px 0px 80px 0px;
    background-image: url(./foto/kids-ava.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% auto;
}
@media (max-width: 900px){
    .kids-section {
        padding: 25px 0px 30px 0px;
    }
}
.kids-text{
    color: #ffffff;
    width: 500px;
    font-size: 18px;
    padding-left: 10%;
    text-align: left;
}
@media (max-width: 760px){
    .kids-text {
        font-size: 14px;
    }
}
@media (max-width: 720px){
    .kids-text {
        width: 450px;
    }
}
@media (max-width: 660px){
    .kids-text {
       display: none;
    }
}
.main-block__button-blue-kids {
    text-decoration: none;
    display: inline-block;
    width: 335px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin: 10px 1px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 400;
    color: #fdfdfd;
    background: #2C7BB1;
    box-shadow: 0 8px 15px rgba(255, 255, 255, 0.404);
    transition: .3s;
}
.main-block__button-blue-kids:hover {
    background: #fcfcfc;
    box-shadow: 0 15px 20px rgba(4, 215, 252, 0.445);
    color: rgb(0, 0, 0);
    transform: translateY(-7px);
}
@media (max-width: 430px){
    .main-block__button-blue-kids {
        width: 285px;
        height: 45px;
        line-height: 45px;
        margin: 10px 1px;
        font-size: 10px;
        letter-spacing: 3px;
    }
}
.main-block__buttons-kids {
    display: flex;
    flex-direction: row;
    padding: 10px 10px;
    justify-content: center;
}
@media (max-width: 770px){
    .main-block__buttons-kids {
        flex-direction: column;
    }
}
/*-----------------детская-страница--kids-page-----------------------*/
.kids-page {
    padding: 40px 0px 40px 0px;
    background-image: url(./foto/dent-ava-kids-n.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin: 50px 0;
}
@media (max-width: 900px){
    .kids-page {
        padding: 25px 0px 30px 0px;
    }
}
.kids-page-text{
    color: #ffffff;
    width: 500px;
    font-size: 18px;
    padding-left: 10%;
    text-align: left;
    margin-top: 30px;
}
@media (max-width: 760px){
    .kids-page-text {
        font-size: 14px;
    }
}
@media (max-width: 720px){
    .kids-page-text {
        width: 450px;
    }
}
@media (max-width: 660px){
   
}
.kids-block__location{
    display: flex;
    flex-direction: row;
    color: white;
    margin-top: 30px;
    margin-left: 10%;
}
.kids-block-tel{
    margin-left: 10%;
    margin-top: 30px;
}
/*-----------------отзывы---reviews-----------------------*/
.reviews {
    padding: 80px 0px 80px 0px;
    background-image: linear-gradient(90deg, #b1d3dc, #76b1c1)
}
@media (max-width: 430px){
    .reviews {
        padding: 20px 0px 10px 0px;
    }
}
@media (max-width: 430px){
    .pract {
        padding: 30px 0px 30px 0px; 
    }
}
.reviews__header {
    margin: 0px 0px 45px 0px;
}
.reviews-box{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
}
.reviews-card{
    width: 160px;
    height: 230px;
    background-color: #b1d3dc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 5px;
    margin: 8px;
    transition: box-shadow 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.reviews-card:hover{
    box-shadow: 0 0 10px #ffffff;
    transform: translateY(-5px);
}
.reviews-photo__image{
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.reviews-photo__image img{
    width: 100%;
}
/*-----------------версия для слабовидящих-----------------------*/
.versia{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    /* font-weight: bold; */
    color: #ffffff;
}
.versia img{
    width: 40px;
}
@media (max-width: 760px){
    .versia{
        font-size: 24px;
    }
}
/*-----------------лицензия флип бокс-----------------------*/
