{% extends 'dentistry/base.html' %}
{% load static %}
{% block content %}

<section class="doctor doctor">
    <div class="doctor__header header-block">
        <h2 class="header-block__title-white element-animation">Сотрудники</h2>
    </div>
    <div class="doctor-container _container">
        <div class="doctor-box">
            {% for doctor in doctor_list %}
            <div class="doctor-card">
                <div class="doctor-photo__image">
                    <img src="/media/{{ doctor.image }}" alt="doc">
                </div>
                <h4 class="doctor-card__title">{{ doctor.surname }} {{ doctor.name }} {{ doctor.middle_name }}</h4>
                <div class="doctor-card__text">{{ doctor.speciality }}</div>
            </div>
            {% endfor %}
        </div>
    </div>

<!--    <div class="main-block__buttons _container">-->
<!--        <a href="" class="main-block__button-white">Все сотрудники</a>-->
<!--    </div>-->

</section>

        <script src="{% static 'dentistry/script.js' %}"></script>
{% endblock %}